SECRET_KEY=django-insecure-zelvr2*y2@xvn29(l3q-51m!5+o24*fyzm*v&0*ea5_(1jw#$l  # your own secret key
MONGODB_CONNECTION_STRING=mongodb+srv://mateusz3249:QqFxpZnE7EVUrIYS@cluster0.9bzxoqf.mongodb.net/mateusz_mazurek?retryWrites=true&w=majority # string connection to mongo db
                        # mongodb+srv://user_name:password@cluster_code.mongodb.net/db_name?retryWrites=true&w=majority 